<!DOCTYPE html>
<html lang="pt-br">
    {% extends "base.html" %}
    {% block title %}História da Família Soncini{% endblock %}
    {% block content %}
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História - Família Soncini</title>
</head>
<body>
    <h1>História da Família Soncini</h1>
    <p>A família Soncini tem uma história rica, começando com Domenico Fortunato Soncini.
        A Família Soncini tem suas raízes no Brasil, com gerações marcadas por união, trabalho e conquistas. 
       Desde os primeiros membros que chegaram ao país, a família cresceu e se destacou em diversas áreas,
       sempre mantendo os valores de respeito e amor à tradição.</p>
       <p>A história da Família Soncini é cheia de tradições, conquistas e momentos marcantes.</p>
    <p>A árvore genealógica remonta ao bisavô Dominico Fortunato Soncini, que iniciou o legado.</p>
 
  
</body>
</html>
{% endblock %}