<!DOCTYPE html>
<html lang="pt-br">
          
    {% extends "base.html" %}
    {% block title %}Pessias da Família Soncini{% endblock %}
    {% block content %}

<div class="container">
    <h1>Pessoas da Família Soncini</h1>
    <div class="member">
        <img src="{{ url_for('static', filename='img/person1.jpg') }}" alt="Person 1">
        <p>Luciano Soncini</p>
    </div>
    <div class="member">
        <img src="{{ url_for('static', filename='img/person2.jpg') }}" alt="Person 2">
        <p>Sandra Soncini</p>
    </div>
</div>
{% endblock %}
     
    
</html>
